
.DS_Store
Minitasker.xcodeproj/project.xcworkspace/xcuserdata/raskavil.xcuserdatad/UserInterfaceState.xcuserstate
Minitasker.xcodeproj/xcuserdata/raskavil.xcuserdatad/xcschemes/xcschememanagement.plist
